<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.6.0" targetFramework="net472"
           developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Mmu.Mlh.DomainExtensions" version="2.0.2" targetFramework="net472" />
  <package id="Mmu.Mlh.LanguageExtensions" version="1.2.18" targetFramework="net472" />
  <package id="StructureMap" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="Text.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Word2016.Interop" version="1.0.0" targetFramework="net472" />
</packages>