<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DrMuellersFeed" value="https://drmueller.pkgs.visualstudio.com/_packaging/DrMuellersFeed/nuget/v2/" />
    <add key="Nuget" value="https://www.nuget.org/api/v2/" />
  </packageSources>

<packageSourceCredentials>
    <DrMuellersFeed>
        <add key="Username" value="m.mueller@novacapta.com" />
        <add key="ClearTextPassword" value="Joker1joker1" />
    </DrMuellersFeed>
</packageSourceCredentials>

</configuration>