<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.6.0" targetFramework="net472"
           developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Mmu.Mlh.ApplicationExtensions" version="1.0.34" targetFramework="net472" />
  <package id="Mmu.Mlh.DomainExtensions" version="1.0.14" targetFramework="net472" />
  <package id="Mmu.Mlh.LanguageExtensions" version="1.2.14" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="NLog" version="4.5.6" targetFramework="net472" />
  <package id="StructureMap" version="4.6.1" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="Text.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
</packages>